In [1]:
a = 10
b = 20
print(a+b)

30

#### to convert a cell to markdown mode -> esc + m
#### to convert a cell to code mode -> esc + y 
#### to delete a cell -> esc + x
#### add cell above -> esc + a
#### add cell above -> esc + b
##### a=10
##### b=20
##### print(a)

#### .ipynb (refers to integrated python notebook)

### Input / Output in Python

In [3]:
a = input("Enter the following: ")

Enter the following:  10

In [4]:
a

'10'

In [5]:
type(a)

str

In [7]:
a = int(input("Enter the following to take the input : "))
print(a)

Enter the following to take the input :  10

10

print is used to give the output

In [8]:
print(a)

10

In [11]:
print("the value that i want to print is",a)

the value that i want to print is 10

## Note :- In Python None data type is a space holder that will be occupied with None data type

In [13]:
a = range(5)
print(a)

range(0, 5)

it will give the range from 0 to (specified number-1)
in above example -> 0 1 2 3 4

In [15]:
for i in a :
    print(i)

0
1
2
3
4

In [16]:
b=range(3,7)
for i in b:
    print(i)

3
4
5
6

In [17]:
comp = 7+8j
print(comp,type(comp))

(7+8j) <class 'complex'>

In [18]:
comp.real

7.0

In [19]:
comp.imag

8.0

# Derived/Container type datatype

List
Tuples
Dictionary
Set
Frozenset

### List

-> Anything written inside square brackets is called List [--,--,--]
-> Can store multiple datatypes simultaneously
-> It can have duplicate values in it
-> they are mutable (it means without changing the memory location, we can modify the list)

In [33]:
ls = [1,2,3,4+5j,"Hello"]
print(ls,type(ls))

[1, 2, 3, (4+5j), 'Hello'] <class 'list'>

In [34]:
ls[2]=5
print(ls)

[1, 2, 5, (4+5j), 'Hello']

##### id gives the memory location

In [35]:
id(ls)

2644305688128

In [36]:
ls.append(245)
print(ls)

[1, 2, 5, (4+5j), 'Hello', 245]

### Tuple

Anything written inside closed bracket (--,--,--)
Tuples are immutable

In [24]:
tu = (1,2,3,4+5j,"Hello")
print(tu)

(1, 2, 3, (4+5j), 'Hello')

tu[1]=5  -> gives the error